<section class="article-content">
    <hr>
    {{ if .Params.allergens }}
        {{ $allergens := .Params.allergens }}
        <div>
            <h3>{{ partial "helper/icon" "allergens" }} | Allergens</h3>
            {{ $length := len $allergens }}
            <ul>
                {{ range seq 0 (sub $length 1) }}
                <li>
                    {{ index $allergens . }}
                </li>
                {{ end }}
            </ul>
        </div>
    {{ else }}
        <div>
            <h3>{{ partial "helper/icon" "allergens" }} | Allergens</h3>
            <p>None</p>
        </div>
    {{ end }}

    {{ with index .Params.prepTime 1 }}
        {{/*  {{ $prepTime := . | int }}
        {{ $prepTimeString := "" }}
        {{ if lt $prepTime 60 }}
            {{ $prepTimeString = printf "%d Minutes" $prepTime }}
        {{ else }}
            {{ $hours := div $prepTime 60 }}
            {{ $minutes := mod $prepTime 60 }}
            {{ $prepTimeString = printf "%d Hours %d Minutes" $hours $minutes }}
        {{ end }}  */}}

        <div>
            <h3>{{ partial "helper/icon" "prepTime" }} | Prep Time</h3>
            <p>{{ . }}</p>
        </div>
    {{ end }}

    {{ with .Params.cookTime }}
        {{ $cookTime := . | int }}
        {{ $cookTimeString := "" }}
        {{ if lt $cookTime 60 }}
            {{ $cookTimeString = printf "%d Minutes" $cookTime }}
        {{ else }}
            {{ $hours := div $cookTime 60 }}
            {{ $minutes := mod $cookTime 60 }}
            {{ $cookTimeString = printf "%d Hours %d Minutes" $hours $minutes }}
        {{ end }}

        <div>
            <h3>{{ partial "helper/icon" "cookingTime" }} | Cooking Time</h3>
            <p>{{ $cookTimeString }}</p>
        </div>
    {{ end }}

    {{ with .Params.totalTime }}
        {{ $isoTime := trim . "PT"}}
        {{ $digits := index (findRE `\d+` $isoTime) 0 }}
        {{ $totalTimeString := "" }}
        
        {{ if lt $digits 60 }}
            {{ $totalTimeString = printf "%s Minutes" $digits }}
        {{ else }}
            {{ $hours := div (int $digits) 60 }}
            {{ $minutes := mod (int $digits) 60 }}
        
            {{ if eq $minutes 0 }}
                {{ $totalTimeString = "%d Hour(s)" $hours }}
            {{ else }}
                {{ $totalTimeString = printf "%d Hour(s) %d Minutes" $hours $minutes }}
            {{ end }}
        {{ end }}

        <div>
            <h3>{{ partial "helper/icon" "totalTime" }} | Total Time</h3>
            <p>{{ $totalTimeString }}</p>
        </div>
    {{ end }}

    {{ with .Params.servings }}
        <div>
            <h3>{{ partial "helper/icon" "servings" }} | Servings</h3>
            <p>{{ . }}</p>
        </div>
    {{ end }}

    {{ with .Params.calories }}
        {{ $calories := . | int }}
        <div>
            <h3>{{ partial "helper/icon" "calories" }} | Calories</h3>
            <p>{{ $calories }} Kcal</p>
        </div>
    {{ end }}

    <hr>

    {{ with .Params.ingredients }}
        {{ $ingredients := . }}
        {{ $length := len $ingredients}}

        <h2>Ingredients</h2>

        <ul>
            {{ range seq 0 (sub $length 1) }}
                <li>
                    {{ index $ingredients . }}
                </li>
            {{ end }}
        </ul>
    {{ end }}

    {{ if and .Params.instructionTitles .Params.instructions }}
        <h2>Instructions</h2>

        {{ $titles := .Params.instructionTitles }}
        {{ $instructions := .Params.instructions }}
        {{ $length := math.Min (len $titles) (len $instructions) }}

        {{ range seq 0 $length }}
            <h3>{{ index $titles . }}</h3>
            {{ $instruction := index $instructions . }}
            {{ $tips := split $instruction ">" }}
            {{ $mainInstructions := index $tips 0 }}
            {{ $instructionsSplit := split (trim $mainInstructions " ") "•" }}
            {{ if in $mainInstructions "•" }}
                <ul>
                    {{ range seq (sub (len $instructionsSplit) 1) }}
                        <li>
                            {{ index $instructionsSplit . }}
                        </li>
                    {{ end }}
                </ul>
            {{ else }}
                {{ $mainInstructions }}
            {{ end }}
            {{ $tipsLength := len $tips }}
            {{ if gt $tipsLength 1 }}
                {{ range seq $tipsLength }}
                    {{ if ne (trim (index $tips .) " ") "" }}
                        <blockquote>
                            {{ index $tips . }}
                        </blockquote>
                    {{ end }}
                {{ end }}
            {{ end }}
        {{ end }}
    {{ end }}


    <!-- Refer to https://discourse.gohugo.io/t/responsive-tables-in-markdown/10639/5 -->
    {{/*  {{ $wrappedTable := printf "<div class=\"table-wrapper\">${1}</div>" }}
    {{ .Content | replaceRE "(<table>(?:.|\n)+?</table>)" $wrappedTable | safeHTML }}  */}}
</section>